section.container-fluid {
	border: 1px solid black;
	background-color:  lightyellow;
	height: 1000px;
	margin:30px;
}

body {
	margin:0px;
}

@media (max-width: 767px) {
  .colored {
	background-color: skyblue;
  }
}

